.setcron-notification {
    display: inline-block;
    padding: 5px 15px;
    background-color: #ffe788;
    border: 1px solid #dcc775;
}
.form-item.form-type-textfield.form-item-setcron-cron-minute,
.form-item.form-type-textfield.form-item-setcron-cron-hour,
.form-item.form-type-textfield.form-item-setcron-cron-day,
.form-item.form-type-textfield.form-item-setcron-cron-month,
.form-item.form-type-textfield.form-item-setcron-cron-week {
    float: left;
    width: 15%;
    min-width: 70px;
    display: inline;
}
.form-item.form-type-textfield.form-item-setcron-cron-minute input.form-text,
.form-item.form-type-textfield.form-item-setcron-cron-hour input.form-text,
.form-item.form-type-textfield.form-item-setcron-cron-day input.form-text,
.form-item.form-type-textfield.form-item-setcron-cron-month input.form-text,
.form-item.form-type-textfield.form-item-setcron-cron-week input.form-text {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-left: -1px;
}
.form-item.form-type-textfield.form-item-setcron-cron-hour .form-required,
.form-item.form-type-textfield.form-item-setcron-cron-day .form-required,
.form-item.form-type-textfield.form-item-setcron-cron-month .form-required,
.form-item.form-type-textfield.form-item-setcron-cron-week .form-required {
    visibility: hidden;
}
.column-left {
    display: inline;
    float: left;
    max-width: 700px;
    margin-right: 30px;
}
.column-right {
    display: inline;
    float: left;
}
code {
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 11px !important;
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    color: #DD1144;
    padding: 2px 4px;
    white-space: nowrap;
}